.DS_Store
*~
*.bin
*.disasm
*.elf
*.hex
*.map
mri.log
gdb.txt
deploy
debug
/mbed/src/Debug/
/mbed/src/Release/
/LPC1768/
/mbed/drop/
/gcc-arm-none-eabi/
/BuildShell
/BuildShellDebug
/BuildShell.cmd
/BuildShellDebug.cmd
/mac_install.log
/win_install.log
/linux_install.log
/src/default_excludes.mk
