.DS_Store
*~
*.bin
*.disasm
*.elf
*.hex
*.map
mri.log
gdb.txt
deploy
debug
/mbed/src/Debug/
/mbed/src/Release/
/LPC1768/
/mbed/drop/
/gcc-arm-none-eabi/
/BuildShell
/BuildShellDebug
/BuildShell.cmd
/BuildShellDebug.cmd
/mac_install.log
/win_install.log
/linux_install.log

.settings/
CritSec.h
DFU-Bootloader.hex.orig
TAGS
a.out
bgm.g
config
config.current
dfu-util
doconsole
flash-old-boot
gdbinit-stl
getversionstring
llist.h
pinouts.org
segmentation.ods
smoothieware-MASTER.inf
sqrt-int.c
testz.g
upload-elf
