body {
	padding: 0;
	margin: 0;
	border: 0;
}

div.toolbar > div {
	float: left;
	display: inline;
	margin: 0.2em 0;
	padding: 0 0.5em;
	border-right: 1px solid #DDD;
}

.clear {
	clear: both;
}

.tabs {
}

.tabcontent {
	position: relative;
	background-color: #EEF;
	border-top: none;
	top: -1px;
	min-height: 300px
}

.tabcontent.hidden {
	display: none
}

.tabbutton {
	float: left;
	background-color: #DDD;
	padding: 0.5em 1em;
	border: 3px outset grey;
	cursor: pointer;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom: 1px solid grey;
	z-index: 100;
}

.tabbutton.current {
	background-color: #EEF;
	border: 3px inset grey;
	border-bottom: 1px solid white;
}

#printerbar {

}

#printerbar input {
	float: right;
}

#printerbar .printer {
    float: left;
    border: 3px outset #DDD;
    background-color: #DDD;
    padding: 0.5em;
	border-radius: 10px 10px 20px 10px;
	width: 120px;
	overflow: hidden;
}

#printerbar .printer:hover {
	border-color: #FFF;
	background-color: #FFF;
}

#printerbar .current {
    border: inset;
    background-color: white;
}

div.toolbar > div#printername {
	font-weight: bold;
	font-family: "sans serif";
	font-size: 120%;
	border: none;
	margin: 0.5em;
	height: 2em;
	width: 100%;
	display: block;
}

.uploadingfile {
	border: 1px solid black;
	margin: 2px;
	padding: 0;
	width: 90%;
	height: 3em;
	overflow: hidden;
/*	background-image: url(../images/upload_stripe.png);
	background-repeat: repeat-x;*/
}

.uploadingfile .background {
	position: relative;
	padding: 0;
	margin: 0;
	width: 200%;
	height: 3em;
	left: -100%;
	background-image: url(../images/upload_stripe.png);
	background-repeat: repeat-x;
}

.uploadingfile .background .slider {
	position: relative;
	left: 50%;
	width: 50%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: white;
	opacity: 0.7;
	filter:alpha(opacity=70);
}

.uploadingfile .text {
	z-index: 1000;
	margin: 1em;
	position: relative;
	top: -3em;
	vertical-align: middle;
}

#FileList {
	list-style-type: none;
	text-indent: 0;
	padding-left: 1em;
}

#FileList > li {
	clear: both;
}

#FileList > li > a {
	margin-left: 1em;
}

.filesize {
	display: inline;
	padding-left: 2em;
}

.fileaction {
	float: left;
	display: block;
	border: 2px outset gray;
	border-radius: 4px;
}

.fileaction:active {
	border-style: inset;
	opacity: 0.8;
}

.fileaction_load {
	background-color: #8F8;
	font-size: 133%;
	padding: 0 0.5em;
}

.fileaction_delete {
	background-color: #FD8;
	float: right;
}

#shadow {
	position: absolute;
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
}
#shadow.visible {
	display: block;
}

#addprinter {
	position: absolute;
	left: 30%;
	top: 40%;
	opacity: 1;
	border: 3px outset gray;
	background-color: white;
	border-radius: 5px;
	z-index: 10001;
	padding: 1em 1em 1em 0;
	display: none;
}

#addprinter.visible {
	display: block;
}

#addprinter > div {
	float: left;
	padding: 0 1em 0 2em;
	margin-right: 1em;
	border-left: 1px solid #EEE;
}

#addprinter #submit_addprinter {
	clear: both;
	float: right;
}
