switch.auxkill.enable                true                     #
switch.auxkill.input_pin             1.30^                    # pin connected to an event that must kill
switch.auxkill.output_on_command     M112                     # command (will not be immediate like ^X)

switch.servofault.enable                true                     #
switch.servofault.input_pin             1.30^                    # pin connected to an event that must kill
switch.servofault.output_on_command     FAULT_XSERVO             # command
