#beta (Y) motor has slave motor controlled by delta pins
beta_has_slave                               true             # Y axis second motor controlled by gamma driver
beta_slave_step_pin                          2.3              # Pin for second Y stepper step signal
beta_slave_dir_pin                           0.22             # Pin for second Y stepper direction
beta_slave_en_pin                            0.21             # Pin for second Y enable
