# Sample arm solution configuration for a CoreXZ style robot
arm_solution                                 corexz           # selects the corexz solution
x_reduction                                  1.0              # standard CoreXZ has no reduction on x axis
z_reduction                                  3.0              # standard CoreXZ has 3X reduction on z axis
alpha_steps_per_mm                           55               # xz motor 1
beta_steps_per_mm                            55               # xz motor 2
gamma_steps_per_mm                           110              # y axis motor
