# Drills module
# Implement the Canned Drilling Cycles
# G80-83, G98, G99 in absolute mode only
# Incremental mode not implemented (L)
drillingcycles.enable                                false # enable module, default false
drillingcycles.dwell_units                           S     # dwell units [S = seconds, P = millis], default: S
