temperature_control.hotend.thermistor_pin 0.23
temperature_control.hotend.pt100linear    0            # use 0 for RDT curve (alpha/beta values)
temperature_control.hotend.pt100_a        0.0039083    # PT100 ALPHA value
temperature_control.hotend.pt100_b        0.0000005775 # PT100 BETA value
temperature_control.hotend.pt100_r0       100          # resistance at 0C
temperature_control.hotend.pt100_amptype  0            # type of RTD amp, attm only 0 supported (0 is e3d pt100 amp)

# quoeficients for the ADC to Rt formula
# q1 * ADC_VALUE / ( Q2 - Q3 * ADC_VALUE)
temperature_control.hotend.pt100_q1  810000
temperature_control.hotend.pt100_q2  45409000
temperature_control.hotend.pt100_q3  280

# quoeficients that are also known to work with E3D amp:
#temperature_control.hotend.pt100_q1            11000000
#temperature_control.hotend.pt100_q2            606888919
#temperature_control.hotend.pt100_q3            2500

