## Chamber heater configuration
temperature_control.heater.enable                true               #
temperature_control.heater.sensor                ExternalSensor     # Emulated sensor, the temperature is provided by UART
temperature_control.heater.set_temp_m_code       933                # M code used to set the current temperature
temperature_control.heater.designator            R                  #
temperature_control.heater.max_temp              75                 # Set maximum temperature - Will prevent heating above
temperature_control.heater.readings_per_second   1                  # Reduced sampling

## Heated chamber configuration
temperature_control.chamber.enable               true               #
temperature_control.chamber.heater_pin           1.19               #
temperature_control.chamber.sensor               ExternalSensor     # Emulated sensor, the temperature is provided by UART
temperature_control.chamber.set_temp_m_code      934                # M code used to set the current temperature
temperature_control.chamber.set_m_code           141                #
temperature_control.chamber.set_and_wait_m_code  191                #
temperature_control.chamber.designator           C                  #
temperature_control.chamber.max_temp             75                 # Set maximum temperature - Will prevent heating above
temperature_control.chamber.readings_per_second  1                  # Reduced sampling
temperature_control.chamber.max_pwm              255                # max pwm, 64 is a good value if driving a 12v resistor with 24v.
