custom_menu.filament_change.enable                true              #
custom_menu.filament_change.name                  filament_change          #
custom_menu.filament_change.command               M600               #

custom_menu.resume.enable                true              #
custom_menu.resume.name                  resume          #
custom_menu.resume.command               M601               #

after_suspend_gcode  G91_G0Z10_G90  # optionally raise nozzle 10mm after suspend
leave_heaters_on_suspend  true   # set to false if you want the heaters turned off on suspend
