switch.filamentout.enable                true                     #
switch.filamentout.input_pin             1.30^                    # pin where filemant out button is connected
switch.filamentout.output_on_command     suspend                  # command

switch.resume.enable                     true                     #
switch.resume.input_pin                  1.31^                    # pin where resum ebutton is connected
switch.resume.output_on_command          resume                   # command

after_suspend_gcode                      G91_G0E-5_G0Z10_G90_G0X-50Y-50        # gcode to run after suspend, retract then get head out of way
before_resume_gcode                      G91_G1E1_G90                          # gcode to run after temp is reached but before resume - do a prime

