filament_detector.enable            true      # This module is activated only if this is set to True
filament_detector.encoder_pin       2.11      # This is the pin the encoder is connected to. Must be an interrupt pin
filament_detector.bulge_pin         1.31      # OPTIONAL This is the pin the bulge switch is connected to. If this switch is triggered ( by a bulge in the filament ) and the filament is moving, this will trigger an alarm
filament_detector.seconds_per_check 2         # How many seconds between filament position checks, must be long enough for several pulses to be detected, but not too long
filament_detector.pulses_per_mm     0.5       # The number of pulses the encoder produces for every millimeter of filament movement
filament_detector.leave_heaters_on  false     # set to true to leave heaters on when suspended
