#jogger settings
jogger.enable                                  	true					#enable jogging functionality
jogger.data_source_alpha                       	horizontal				#set the first (alpha) joystick name as "horizontal"
jogger.data_source_beta							vertical				#set the second (beta) joystick name as "vertical"
jogger.max_speed						 		1000					#set the max jogging speed to 1000 mm/sec
jogger.dead_zone                               	0.05					#set the joystick dead-zone to 0.05. Increase if undesired jogging occurs
jogger.nonlinearity							   	1.5						#set the joystick nonlinearity (see documentation)
jogger.refresh_rate                            	100						#refresh the joystick readings 100 times per second
jogger.segment_frequency                       	100						#submit 100 small movements per second while jogging
jogger.m_code_set								777						#use M777 ... to set the current jog axes
jogger.m_code_toggle							778						#use M778 to toggle between the modes below
jogger.jog_axes									Xy,XZ,-Z				#cycle between the joystick horz/vert controlling axes XY, XZ, and nothing/Z when using M778
