#joystick settings
joystick.horizontal.enable                     true				#enable the horizontal axis joystick
joystick.horizontal.pin                        1.30				#use pin 1.30 connected to potentiometer wiper
joystick.horizontal.endpoint                   3.20				#3.2 V maps to +1 in joystick reading
joystick.horizontal.auto_zero                  true				#automatically determine the zero point
joystick.horizontal.startup_time               1000				#take readings for 1 second at startup to get auto-zero point
joystick.horizontal.refresh_rate               100				#update the joystick position 100 times per second
joystick.horizontal.start_value                0				#when auto-zeroing, force joystick output to be 0

joystick.vertical.enable                     true				#enable the vertical axis joystick
joystick.vertical.pin                        1.31
joystick.vertical.endpoint                   3.20
joystick.vertical.auto_zero                  true
joystick.vertical.startup_time               1000
joystick.vertical.refresh_rate               100
joystick.vertical.start_value                0
