# Arm solution configuration : SCARA robot. Translates mm positions into stepper positions
arm_solution                                 morgan           # selects the morgan arm solution
alpha_steps_per_mm                           537.03528        # Steps per mm for alpha stepper
beta_steps_per_mm                            537.03528        # Steps per mm for beta stepper
gamma_steps_per_mm                           420              # Steps per mm for gamma stepper

arm1_length                                  150              # this is the length of an arm1 (inner) from hinge to hinge
arm2_length                                  150              # this is the length of an arm2 (outer) from hinge to hinge
morgan_offset_x                              190.0            # tower offset from bed 0:0 default 100.0
morgan_offset_y                              -65.0            # tower offset from bed 0:0 default -65.0
morgan_undefined_min                          0.95            # Defines undefined SCARA ratio: default 0.95
morgan_undefined_max                          0.90            # Defines undefined SCARA ratio: default 0.95
real_scara                                  false             # Set true to switch from morgan to real scara math (Default false)

scara_homing                                true              # always home XY together

# optional SCARAcal (highly recommended for Morgan)
scaracal.enable                              true
scaracal.slow_feedrate                       20               # slow enough not to slip, fast enough not to frustrate the user
scaracal.z_move                              -20              # Optional movement of Z relative to the home position.
                                                              # positive: more distance between bed and probe
# associated with zprobe the leveling strategy to use
leveling-strategy.ZGrid-leveling.enable         true          # enable map level
leveling-strategy.ZGrid-leveling.bed_x          380
leveling-strategy.ZGrid-leveling.bed_y          220
leveling-strategy.ZGrid-leveling.bed_z          200
leveling-strategy.ZGrid-leveling.slow_feedrate  100
leveling-strategy.ZGrid-leveling.probe_offsets  0,0,14.5      # the probe offsets from nozzle, must be x,y,z, default is no offset
leveling-strategy.ZGrid-leveling.wait_for_probe true          # Makes system wait for probe confirmation
leveling-strategy.ZGrid-leveling.rows           7             # X divisions (Default 5)
leveling-strategy.ZGrid-leveling.cols           5             # Y divisions (Default 5)
