## Motor Driver Control SPI
motor_driver_control.alpha.enable	               true		      # Whether to activate the SPI motor driver module.
motor_driver_control.alpha.axis		               X			  # Motor driver axis designation [XYZABC]
motor_driver_control.alpha.chip                    TMC2660		  # Motor driver chip name.
motor_driver_control.alpha.spi_channel		       0			  # SPI bus 0 or 1 for hardware SPI. Use -1 for Software SPI and specify mosi, miso, and sclk pins
motor_driver_control.alpha.spi_cs_pin	           1.10		      # SPI SSEL pin.
motor_driver_control.alpha.spi_frequency           500000		  # SPI SCLK frequency.
#motor_driver_control.alpha.spi_mosi_pin            1.17           # SPI MOSI pin.
#motor_driver_control.alpha.spi_miso_pin            0.5            # SPI MISO pin.
#motor_driver_control.alpha.spi_sclk_pin            0.4            # SPI SCLK pin.