# PT1000 Temperature Sensor settings

temperature_control.hotend.enable           true             # Whether to activate this ( "hotend" ) module at all.
temperature_control.hotend.PT1000_pin       0.24             # Pin for the thermistor to read
temperature_control.hotend.sensor           PT1000     	   	 # See http://smoothieware.org/temperaturecontrol#toc5
