temperature_control.hotend.enable               true
temperature_control.hotend.sensor               pt100
temperature_control.hotend.amplifier_pin        0.23
temperature_control.hotend.baseline_temp        100           # where the ADC reading was taken, 100C is recommended
temperature_control.hotend.baseline_adc_value   4500          # LM358 gets 4500 at 100C, E3D amplifier with INA826 amp gets 4900
temperature_control.hotend.adc_delta_per_degree 41            # LM358 gets 41/deg, E3D amplifier with INA826 amp gets 13/deg
