# Snippet for Quad Gantry Leveling (Voron 2)
# see http://smoothieware.org/configuring-smoothie

# adapted for Quad Gantry Leveling (Voron 2) using a 74HC08 to disable the 4 Z STEP signals temporarily
# NOTE Lines must not exceed 132 characters, and '#' characters mean what follows is ignored


## Switch modules
# See http://smoothieware.org/switch


# Signals that switch the STEP pulse for 4 Z motors using an HC08 gate, for Voron 2 QGL
# You can also omit the HC08 and use Open-Drain configuration
# see http://smoothieware.org/switch#homing-a-multi-motor-axis

# Switch module for first Z stepper motor driver
switch.z-0.enable                            true             # Enable this module
switch.z-0.input_on_command                  M1001            # Turn ON 
switch.z-0.input_off_command                 M1011            # Turn OFF 
switch.z-0.output_pin                        1.17             # Pin to control enable pin of driver (change to fit your config)
switch.z-0.output_type                       digital          # Digital means this is just an on or off pin
switch.z-0.startup_state                     true             # start with motors enabled

# Switch module for second Z stepper motor driver
switch.z-1.enable                            true             # Enable this module
switch.z-1.input_on_command                  M1002            # Turn ON 
switch.z-1.input_off_command                 M1012            # Turn OFF 
switch.z-1.output_pin                        1.18             # Pin to control enable pin of driver
switch.z-1.output_type                       digital          # Digital means this is just an on or off pin
switch.z-1.startup_state                     true             # start with motors enabled

# Switch module for third Z stepper motor driver
switch.z-2.enable                            true             # Enable this module
switch.z-2.input_on_command                  M1003            # Turn ON 
switch.z-2.input_off_command                 M1013            # Turn OFF 
switch.z-2.output_pin                        1.19             # Pin to control enable pin of driver
switch.z-2.output_type                       digital          # Digital means this is just an on or off pin
switch.z-2.startup_state                     true             # start with motors enabled

# Switch module for fourth Z stepper motor driver
switch.z-3.enable                            true             # Enable this module
switch.z-3.input_on_command                  M1004            # Turn ON 
switch.z-3.input_off_command                 M1014            # Turn OFF 
switch.z-3.output_pin                        1.20             # Pin to control enable pin of driver
switch.z-3.output_type                       digital          # Digital means this is just an on or off pin
switch.z-3.startup_state                     true             # start with motors enabled


## Z-probe, in this case the PL-08N2, Voron red probe from ZHONGDE
# check Voron wiring schematics, you might need a diode 
# See http://smoothieware.org/zprobe
zprobe.enable                                true             # Set to true to enable a zprobe
zprobe.probe_pin                             0.10^            # Pin probe is attached to, if NC remove the !
zprobe.slow_feedrate                         3                # mm/sec probe feed rate
#zprobe.debounce_ms                          1                # Set if noisy
zprobe.fast_feedrate                         100              # Move feedrate mm/sec
zprobe.probe_height                          6                # How much above bed to start probe
#gamma_min_endstop                           nc               # Normally 1.28. Change to nc to prevent conflict,


# QGL Levelling strategy
leveling-strategy.quad-gantry-leveling.enable         true        # a leveling strategy that probes three points to define a plane and keeps the Z parallel to that plane
leveling-strategy.quad-gantry-leveling.point1         50.0,50.0   # the first probe point (x,y) optional may be defined with M557, must be left front for QGL
leveling-strategy.quad-gantry-leveling.point2         50.0,250.0  # the second probe point (x,y), must be left back for QGL
leveling-strategy.quad-gantry-leveling.point3         250.0,250.0 # the third probe point (x,y), must be right back for QGL
leveling-strategy.quad-gantry-leveling.point4         250.0,50.0  # the fourth probe point (x,y), must be right front for QGL
leveling-strategy.quad-gantry-leveling.home_first     false       # home the XY axis before probing
leveling-strategy.quad-gantry-leveling.tolerance      0.01        # the probe tolerance in mm, anything less that this will be ignored, default is 0.03mm
leveling-strategy.quad-gantry-leveling.probe_offsets  0,25.0,0    # the probe offsets from nozzle, must be x,y,z, default is no offset
leveling-strategy.quad-gantry-leveling.gantry_corner0 -60.0,4.5   # the gantry corner for probe point 0, used for QGL calculation
leveling-strategy.quad-gantry-leveling.gantry_corner2 360.0,375.5 # the gantry corner for probe point 2, used for QGL

leveling-strategy.quad-gantry-leveling.max_adjust     10      # max. adjustment for QGL
leveling-strategy.quad-gantry-leveling.repetitions    3       # number of distance measurements per point    
leveling-strategy.quad-gantry-leveling.switch_z       z-0     # the switch that is used to enable / disable the STEP pin to the motor         
leveling-strategy.quad-gantry-leveling.switch_z1      z-1
leveling-strategy.quad-gantry-leveling.switch_z2      z-2
leveling-strategy.quad-gantry-leveling.switch_z3      z-3

