# A axis
delta_steps_per_mm                    100     # may be steps per degree for example
delta_step_pin                        2.3     # Pin for delta stepper step signal
delta_dir_pin                         0.22    # Pin for delta stepper direction
delta_en_pin                          0.21    # Pin for delta enable
delta_current                         1.5     # Z stepper motor current
delta_max_rate                        300.0   # mm/min
delta_acceleration                    500.0   # mm/sec²

# B axis
epsilon_steps_per_mm                  100     # may be steps per degree for example
epsilon_step_pin                      2.8     # Pin for delta stepper step signal
epsilon_dir_pin                       2.13    # Pin for delta stepper direction
epsilon_en_pin                        4.29    # Pin for delta enable
epsilon_current                       1.5     # Z stepper motor current
epsilon_max_rate                      300.0   # mm/min
epsilon_acceleration                  500.0   # mm/sec²

# C axis
zeta_steps_per_mm                     100     # may be steps per degree for example
zeta_step_pin                         xx      # Pin for delta stepper step signal
zeta_dir_pin                          xx      # Pin for delta stepper direction
zeta_en_pin                           xx      # Pin for delta enable
zeta_current                          1.5     # Z stepper motor current
zeta_max_rate                         300.0   # mm/min
zeta_acceleration                     500.0   # mm/sec²
