soft_endstop.enable   true               # enable soft endstops
soft_endstop.halt     true               # HALT when soft endstop triggered (safest) when set to false the entire move will just be ignored
soft_endstop.x_min    0.0                # minimum X
soft_endstop.y_min    0.0                # minimum Y
#soft_endstop.z_min    0.0               # minimum Z NOTE leave commented out to disable checking for this axis
soft_endstop.x_max    500.0              # maximum X
soft_endstop.y_max    500.0              # maximum Y
#soft_endstop.z_max    40.0              # maximum Z NOTE leave commented out to disable checking for this axis
