# Spindle control settings

spindle.enable            true           # [Default false]   Set this to false to disable the spindle module

# PWM spindle settings

spindle.type              pwm            # [Default pwm]     Spindle module mode (pwm, analog, modbus)
spindle.pwm_pin           2.3            # [Default nc]      PWM output pin.  Must be hardware PWM capable.  (See http://smoothieware.org/pinout)
spindle.pwm_period        50000          # [Default 1000]    PWM period in microseconds.
spindle.max_pwm           0.85           # [Default 1.0]     Max duty cycle.  MC2100 uses 85% duty cycle for max speed.
spindle.feedback_pin      0.22           # [Default nc]      Tach input pin.  Must be interrupt capable.
spindle.pulses_per_rev    1.0            # [Default 1]       Number of pulses per spindle revolution.
spindle.default_rpm       60             # [Default 5000]    RPM value to use if no RPM is provided to initial M3.
#spindle.control_P         0.1            # [Default 0.0001]  Proportional term for the PID controller.
#spindle.control_I         0.1            # [Default 0.0001]  Integral term for the PID controller.
#spindle.control_D         0.1            # [Default 0.0001]  Derivative term for the PID controller.
#spindle.control_smoothing 0.1            # [Default 0.1]     Low pass filter time constant in seconds.

# Analog spindle settings

#spindle.type              analog         # [Default pwm]     Analog can also be used for ESC spindles controlled by a PWM.
#spindle.pwm_pin           2.3            # [Default nc]      PWM output pin.  Must be hardware PWM capable.  (See http://smoothieware.org/pinout)
#spindle.min_rpm           100            # [Default 100]     Minimum RPM when spindle is on.
#spindle.max_rpm           24000          # [Default 5000]    Maximum RPM at 100% PWM.
#spindle.pwm_period        50000          # [Default 1000]    PWM period in microseconds.
#spindle.switch_on_pin     2.6            # [Default nc]      Optional output pin used to enable the VFD.

# Modbus spindle settings

#spindle.type              modbus         # [Default pwm]     Modbus / RS485.
#spindle.vfd_type          huanyang       # [Default none]    Huanyang is currently the only supported VFD type.
#spindle.rx_pin            2.6            # [Default nc]      TX pin for soft serial.
#spindle.tx_pin            2.4            # [Default nc]      RX pin for soft serial.
#spindle.dir_pin           2.5            # [Default nc]      RS485 is only half-duplex, so we need a pin to switch between sending and receiving.
