// example config for the switchwatchdog
//
// this module can be used to configure a watchdog
// that observes a specific pin to have a certain value
// when the pin enters the invalid state (low), 
// the timeout starts to count down.
//
// once expired this module triggers the exec_command
//
// the timer can be reset by two causes:
// 1) the pin enters the valid high state again
// 2) the user/gcode sends the specified clear_command
//
switchwatchdog.enable              true
switchwatchdog.laser.pin           0.12!
switchwatchdog.laser.timeout       5
switchwatchdog.laser.exec_command  suspend
switchwatchdog.laser.clear_command M777

