temperature_control.bed.enable               true             #
temperature_control.bed.resample             100               # average 100 samples to one value. Effective interval for PID 5 seconds
temperature_control.bed.pwm_frequency        20      # 20 samples per second, 50ms interval
temperature_control.bed.thermistor_pin       0.23             #
temperature_control.bed.heater_pin           2.5      
