## Motor driver configuration
motor_driver_control.driver.enable            true            # Enable motor driver module
motor_driver_control.driver.axis              X               # Axis designator on which the motor driver is set 
motor_driver_control.driver.chip              TMC2130         # Motor driver chip type
motor_driver_control.driver.spi_channel       0               # Set corresponding pins of the selected spi channel
motor_driver_control.driver.spi_cs_pin        0.16            # Set chip select pin
#motor_driver_control.driver.current          1000            # Motor currents in mA
#motor_driver_control.driver.sense_resistor   50              # Sensing resistor value as a reference in milliohms
#motor_driver_control.driver.microsteps       16              # Set microstepping value per step pulse. It can be 1, 2, 4, 8, 16, 32, 64, 128 or 256 microsteps
#motor_driver_control.driver.chopper_mode     2               # 0 = stealthChop ; 1 = spreadCycle ; 2 = traditional constant off-time
#motor_driver_control.driver.hold_percent     50              # standstill current, which is 0-100% of motor current.
#motor_driver_control.driver.iholddelay       15              # Delay for motor power down after standstill is detected and tpowerdown has expired. Time range (0-15) controls the number of clock cycles
#motor_driver_control.driver.tpowerdown       255             # Delay between motor standstill and current power down. Time range (0-255) is about 0 to 4 seconds.
#motor_driver_control.driver.tpwmthrs         100             # stealthChop upper velocity threshold. Use this to combine spreadCycle and stealthChop. To use this, enable stealthChop first
#motor_driver_control.driver.tcoolthrs        75              # coolStep lower threshold velocity. Set this parameter to disable coolStep at low speeds. 
#motor_driver_control.driver.thigh            50              # Traditional constant off-time lower threshold.
#motor_driver_control.driver.vhighchm         false           # Enables switching to operate in traditional constant off-time with only slow decay, when vhigh is exceeded. Set this if thigh parameter is used.
#motor_driver_control.driver.vhighfs          false           # Enables switching to operate in fullstep mode, when vhigh is exceeded. Set this if thigh parameter is used.
#motor_driver_control.driver.i_scale_analog   false           # 0: Internal reference voltage ; 1: Voltage supplied to AIN as current reference.
#motor_driver_control.driver.internal_rsense  false           # 0: External resistors ; 1: Internal Resistors. If set, use voltage supplied to AIN as reference. Be sure to attach BRA and BRB pins to GND in this mode
#motor_driver_control.driver.shaft            false           # Inverse motor direction
#motor_driver_control.driver.small_hysteresys false           # 0: Hysteresis for step frequency comparison is 1/16 ; 1: Hysteresis for step frequency comparison is 1/32