## Motor driver configuration
motor_driver_control.driver.enable                 true            # Enable motor driver module
motor_driver_control.driver.axis                   X               # Axis designator on which the motor driver is set 
motor_driver_control.driver.chip                   TMC2130         # Motor driver chip type
motor_driver_control.driver.spi_channel            0               # Set corresponding pins of the selected spi channel
motor_driver_control.driver.spi_cs_pin             0.16            # Set chip select pin
#motor_driver_control.driver.current               1000            # Motor currents in mA - PEAK current, multiply with 0.707 to get RMS current
#motor_driver_control.driver.sense_resistor        50              # Sensing resistor value as a reference in milliOhms
#motor_driver_control.driver.microsteps            16              # Set microstepping value per step pulse. It can be 1, 2, 4, 8, 16, 32, 64, 128 or 256 microsteps
#motor_driver_control.driver.chopper_mode          2               # 0 = stealthChop ; 1 = spreadCycle ; 2 = traditional constant off-time
