## Motor driver configuration
motor_driver_control.enable                      true            # Enable module
motor_driver_control.beta.enable               true            # Enable motor driver module
motor_driver_control.beta.axis                 Y               # Axis designator on which the motor driver is set 
motor_driver_control.beta.chip                 TMC2209         # Motor driver chip type
motor_driver_control.beta.sw_uart_tx_pin       4.28            # Transmitting line from the board to the alpha. Required.
motor_driver_control.beta.sw_uart_rx_pin       2.11            # Receiving line to the board; NC if not connected (default).
motor_driver_control.beta.sw_uart_baudrate    19200            # Software UART baudrate. Value higher than 50k is not recommended
motor_driver_control.beta.current             2000            # Motor currents in mA - PEAK current, multiply with 0.707 to get RMS current
motor_driver_control.beta.sense_resistor      50              # Sensing resistor value as a reference in milliOhms
motor_driver_control.beta.microsteps          256              # The actual microstep resolution (MRES) that will be extrapolated to 256 microsteps.
                                                                 # It can be 1, 2, 4, 8, 16, 32, 64, 128 or 256 microsteps
#motor_driver_control.beta.chopper_mode        0               # 0 = spreadCycle ; 1 = stealthChop 

# Stealthchop
# ! Please see datasheet for more details
motor_driver_control.beta.stealthchop_tpwmthrs        0           # The upper velocity for stealthChop voltage PWM mode. When the velocity exceeds this value, the
                                                                    # driver switches to spreadCycle. Default 0 (disabled).
                                                                    #
                                                                    # If enabled you probably should also tune SpreadCycle
motor_driver_control.beta.stealthchop_pwm_lim         12          # PWM_LIM
motor_driver_control.beta.stealthchop_pwm_reg         1           # PWM_REG
motor_driver_control.beta.stealthchop_freewheel       0           # freewheel
motor_driver_control.beta.stealthchop_pwm_autograd    1           # PWM_AUTOGRAD
motor_driver_control.beta.stealthchop_pwm_autoscale   1           # PWM_AUTOSCALE
motor_driver_control.beta.stealthchop_pwm_freq        1           # PWM_FREQ
motor_driver_control.beta.stealthchop_pwm_grad        0           # PWM_GRAD
motor_driver_control.beta.stealthchop_pwm_ofs         36          # PWM_OFS

# SpreadCycle
# ! Please see datasheet for more details
#motor_driver_control.beta.spreadcycle_toff           5           # TOFF   (2 - 15)
#motor_driver_control.beta.spreadcycle_tbl            32          # TBL    (16/24/32/48)
#motor_driver_control.beta.spreadcycle_hstrt          4           # HSTART (1 - 8)
#motor_driver_control.beta.spreadcycle_hend           0           # HEND   (-3 - 12)

# Stallguard & Coolconf
#motor_driver_control.beta.stallguard_tcoolthrs		  0			  # Lower coolstep velocity treshold
#motor_driver_control.beta.stallguard_thrs			  0			  # SG_RESULT <= SGTHRS*2

#motor_driver_control.beta.coolconf_seimin			  0			  # 0 = 1/2 current setting (IRUN) - use with IRUN >= 10!
                                                                  # 1 = 1/4 current setting (IRUN) - use with IRUN >= 20!
#motor_driver_control.beta.coolconf_sedn		      0			  # 0/2/8/32
#motor_driver_control.beta.coolconf_semax			  0			  # 0-15
#motor_driver_control.beta.coolconf_seup		      0			  # 1,2,4,8 - current increment steps per measured SG value
#motor_driver_control.beta.coolconf_semin			  0			  # 0: CoolStep off, 1-15
