## Motor driver configuration
motor_driver_control.enable                      true            # Enable module
motor_driver_control.alpha.enable               true            # Enable motor driver module
motor_driver_control.alpha.axis                 X               # Axis designator on which the motor driver is set 
motor_driver_control.alpha.chip                 TMC2208         # Motor driver chip type
motor_driver_control.alpha.sw_uart_tx_pin       0.27            # Transmitting line from the board to the alpha. Required.
motor_driver_control.alpha.sw_uart_rx_pin       0.28            # Receiving line to the board; NC if not connected (default).
#motor_driver_control.alpha.sw_uart_baudrate    9600            # Software UART baudrate. Value higher than 50k is not recommended
#motor_driver_control.alpha.current             1000            # Motor currents in mA - PEAK current, multiply with 0.707 to get RMS current
#motor_driver_control.alpha.sense_resistor      50              # Sensing resistor value as a reference in milliOhms
#motor_driver_control.alpha.microsteps          16              # The actual microstep resolution (MRES) that will be extrapolated to 256 microsteps.
                                                                 # It can be 1, 2, 4, 8, 16, 32, 64, 128 or 256 microsteps
#motor_driver_control.alpha.chopper_mode        0               # 0 = spreadCycle ; 1 = stealthChop 

# Stealthchop
# ! Please see datasheet for more details
motor_driver_control.alpha.stealthchop_tpwmthrs        0           # The upper velocity for stealthChop voltage PWM mode. When the velocity exceeds this value, the
                                                                    # driver switches to spreadCycle. Default 0 (disabled).
                                                                    #
                                                                    # If enabled you probably should also tune SpreadCycle
motor_driver_control.alpha.stealthchop_pwm_lim         12          # PWM_LIM
motor_driver_control.alpha.stealthchop_pwm_reg         1           # PWM_REG
motor_driver_control.alpha.stealthchop_freewheel       0           # freewheel
motor_driver_control.alpha.stealthchop_pwm_autograd    1           # PWM_AUTOGRAD
motor_driver_control.alpha.stealthchop_pwm_autoscale   1           # PWM_AUTOSCALE
motor_driver_control.alpha.stealthchop_pwm_freq        1           # PWM_FREQ
motor_driver_control.alpha.stealthchop_pwm_grad        0           # PWM_GRAD
motor_driver_control.alpha.stealthchop_pwm_ofs         36          # PWM_OFS

# SpreadCycle
# ! Please see datasheet for more details
#motor_driver_control.alpha.spreadcycle_toff           5           # TOFF   (2 - 15)
#motor_driver_control.alpha.spreadcycle_tbl            32          # TBL    (16/24/32/48)
#motor_driver_control.alpha.spreadcycle_hstrt          4           # HSTART (1 - 8)
#motor_driver_control.alpha.spreadcycle_hend           0           # HEND   (-3 - 12)
