## Motor driver configuration
motor_driver_control.driver.enable           true
motor_driver_control.driver.axis             X
motor_driver_control.driver.chip             TMC2130
motor_driver_control.driver.spi_channel      0
motor_driver_control.driver.spi_cs_pin       0.16
#motor_driver_control.driver.current         1000
#motor_driver_control.driver.sense_resistor  50
#motor_driver_control.driver.microsteps      16
