leveling-strategy.ZGrid-leveling.enable         true       #
leveling-strategy.ZGrid-leveling.bed_x          200        # Bed size
leveling-strategy.ZGrid-leveling.bed_y          200        # Bed Size

# Machine height, used to determine probe attachment point (bed_z / 2)
leveling-strategy.ZGrid-leveling.bed_z           20

leveling-strategy.ZGrid-leveling.rows           7          # X divisions (Default 5)
leveling-strategy.ZGrid-leveling.cols           9          # Y divisions (Default 5)

leveling-strategy.ZGrid-leveling.probe_offsets  5,5,16.3   #

#leveling-strategy.ZGrid-leveling.slow_feedrate 100        # optional

#Configure for Machines with bed 0,0 at center of platform
leveling-strategy.ZGrid-leveling.center_zero      false

# configure for Machines with circular beds
leveling-strategy.ZGrid-leveling.circular_bed     false

# The machine can be told to wait for probe attachment and confirmation
leveling-strategy.ZGrid-leveling.wait_for_probe  true

# The machine can be told to home in one of the following modes:
leveling-strategy.ZGrid-leveling.home_before_probe  homexyz;    #  nohome homexy homexyz (default)

#gamma_max                                    200           # make sure this is set correctly
